body {
  font-family: sans-serif;
  background-color: #f2f2f2;
}
h1 {
  color: Blue;
  text-align: center;
  font-size: 36;
  font-weight: bold;
}
h2 {
  color: Red;
  text-align: center;
  font-size: 25;
}
h4 {
  color: Green;
  text-align: center;
  font-size: 25;
}
h5 {
  color: Green;
  text-align: center;
  font-size: 25;
}
